.archive .podcasts {

	header .row-container {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		flex-wrap: nowrap;

		padding: .5em 0;
		text-align: right;

		a.button {
			white-space: nowrap;
			&:before {
				content: '❮ ';
			}
		}

		@include tablet {
			flex-direction: column;

			padding-top: 0;

			a.button {
				border-radius: 0 0 2px 2px;
				margin-bottom: 1em;
			}
		}

		@include phone {
			padding: .5em;
		}
	}

	.podcasts .row-container {

		padding: .5em 0;

		@include phone {
			padding: .5em;
		}

	}

	.tags {
		display: block;
		text-align: center;
		margin-bottom: 1em;

		a {
			background: #ccc;
			color: #fff;

			&:hover {
				background: $colors-purple;
				opacity: 1;
			}
		}
	}

	.link-more { display: none; }
}