.archive .podcasts {

	header .row-container {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		flex-wrap: nowrap;

		padding: .5em 0;
		text-align: right;

		a.button {
			white-space: nowrap;
			&:before {
				content: '❮ ';
			}
		}

		@media(max-width: $breakwidth-small) {
			padding: .5em;
		}
	}

	.podcasts .row-container {
		display: flex;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		padding: .5em 0;

		@media (max-width: $breakwidth-small) {
			padding: .5em;
		}

	}

	.link-more { display: none; }
}