.single .podcast {
	
	header {
		background: $colors-blue;
		color: #fff;
		position: relative;
		z-index: 1;

		.row-container {
			padding: 1em 1em 0;
		}

		&.has_header_img {
			.header-bg-container {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				overflow: hidden;

				img {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%) translateY(-20%);
					min-width: 100%;
					min-height: 100%;
				}

				&:after {
					content: '';
					background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));

					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		.info {
			display: flex;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-end;
			flex-wrap: nowrap;

			position: relative;
			top: 1em;

			@media (max-width: $breakwidth-medium) {
				text-align: center;
				display: block;
			}

			@at-root .single .podcast header.has_subtitle .info {
				top: 1.5em;
			}

			figure, .title {
				flex: 0 1 auto;
			}

			figure {
				flex-basis: 350px;
				min-width: 275px;

				border: 3px solid #fff;
				border-radius: 2px;
				box-shadow: 0 .25em 1em rgba(0,0,0,0.2);

				margin: 0 .5em 0 0;
				padding: 0;

				position: relative;
				z-index: 2;

				@media (max-width: $breakwidth-medium) {
					width: 75%;
					margin: 0 auto .5em;
				}

				img {
					display: block;
					width: 100%;
				}
			}

			.meta {
				display: block;
				margin-bottom: .25em;
				font-size: 0.75em;
			}

			.genres {
				display: inline-block;
				color: rgba(255,255,255,0.75);
				text-shadow: 1px 1px 0 #000;

				a {
					display: inline-block;
					color: #fff;
					text-decoration: none;

					&:hover {
						color: $colors-blue;
					}
				}

			}
			.tags {
				font-size: 0.35em;
				vertical-align: middle;

				a {
					background: #fff;
					color: #333;

					padding: .35em .5em;

					opacity: 0.4;

					&:hover {
						background: $colors-purple;
						color: #fff;
						opacity: 1;
					}
				}
			}

			.title {

				@media (max-width: $breakwidth-small) {
					font-size: .75em;
				}

				h2 {
					color: #444;
					font-size: .9em;
				}
			}
		}

	}
	// header

	.content {
		display: flex;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		flex-wrap: nowrap;

		line-height: 1.4;

		margin-top: 1.25em;
		padding: 0 1em;

		@media (max-width: $breakwidth-medium) {
			flex-wrap: wrap;
			flex-direction: column;

			margin: 1em auto 0;
		}

		.description, .player_embed {
			flex: 0 1 50%;

			@media(max-width: $breakwidth-medium) {
				width: 100%;
			}
		}

		.player_embed {
			margin-left: 1em;

			@media (max-width: $breakwidth-medium) {
				margin-left: 0;
			}
			iframe {
				max-width: 100%;
			}
		}
	}

	.post-edit-link {
		position: fixed;
		bottom: 5%;
		left: 0;

		font-size: 0.4rem;
	}

}