.wpn-f-bfg {
	color: transparent;
	flex: 1 1 33%;

	@media (max-width: $breakwidth-large) {
		a {
			margin: 1px;

			&:hover {
				border: none;
			}
		}
	}
	@media (max-width: $breakwidth-small) {
		display: block;
	}

	ul {
		display: flex;
		flex: 1 1 33%;
		flex-basis: auto;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.wpn-f-container {
		flex-direction: column;
		max-width: calc(100% / 3);

		&:nth-child(even) {
			flex-direction: column-reverse;
		}

		@media (max-width: $breakwidth-small) {
			max-width: 100%;
			&,&:nth-child(even) {
				flex-direction: row;
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
			li {
				width: 100%;
			}
			.wpn-f-cluster {
				width: 50%;
				ul {
					flex-direction: column;
				}
				li {
					flex-grow: 0;
					flex-shrink: 1;
				}
			}
		}
	}
}