.wpn-f-bfg {
	overflow: hidden;

	.wpn-f-container {
		width: 33.333333%;
		float: left;

		.wpn-f-cluster li {
			width: 50%;
			float: left;
		}

		&:nth-child(2) {
			display: flex;
			flex-wrap: wrap-reverse;
			flex-direction: row-reverse;
			
			.wpn-f-big,
			.wpn-f-cluster {
				flex-basis: 100%;
			}
		}

		@include phone {
			width: 100%;
			float: none;
			
			display: flex;
			flex-wrap: no-wrap;

			&:nth-child(2) .wpn-f-big,
			.wpn-f-big {
				flex-basis: 66.666666%;
			}
			&:nth-child(2) .wpn-f-cluster,
			.wpn-f-cluster {
				flex-basis: 33.333333%;
				flex-wrap: wrap;

				li {
					display: block;
					width: 100%;
				}
			}
		}
	}
}