main.genres {
	header.row {
		.row-container {
			padding: .75em 1em;
			text-align: center;
		}
	}
}

article.genre {

	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
	padding-bottom: 1em;

	@media (max-width: $breakwidth-small) {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: .5em;
	}

	header {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: .15em;

		a {
			color: inherit;
			text-decoration: none;
		}

		@media (max-width: $breakwidth-small) {
			font-size: 0.8em;
			display: block;
			padding: 0 .5em;
			margin-bottom: .25em;

			h2 {
				display: inline;
			}
		}

		.button {
			align-self: flex-end;

			background: none;
			color: $colors-purple;
			border: 0;

			font-size: 0.8em;
			font-weight: 200;

			padding: 0;

			&:before {
				content: '❯ ';
				color: lighten($colors-purple, 20%);
				font-weight: bold;
			}

			@media (max-width: $breakwidth-small) {
				display: inline-block;
				font-size: 0.7em;
			}
		}
	}

	&:last-child {
		margin-bottom: 0
	}

}

.wpn-f-genre {
	ul {
		display: flex;
		flex: 0 1 auto;
		flex-basis: auto;
		flex-grow: 1;
		flex-wrap: nowrap;
	}
	@media (max-width: $breakwidth-medium) {
		ul {
			flex-wrap: wrap;
		}
		li {
			width: 50%;
		}
	}
	@media (max-width: $breakwidth-small) {
		li:nth-child(5) {
			display: none;
		}
	}

}
