.masthead {
	background-color: $colors-purple;
	background-image: 
		linear-gradient(to top, rgba($colors-purple, 0.9), rgba($colors-purple, 0.9)),
		url(../images/background-masthead.jpg);
	background-attachment: fixed;
	background-position: 25% 50%;
	background-size: 220%;
	//animation: homepageslide 400s linear infinite;
	transition: background-position 60s;

	@media (pointer:none), (pointer:coarse) {
		animation: none;
	}

	position: fixed;
	height: 2rem;
	left: 0;
	top: 0;
	width: 100%;
	width: 100vw;
	z-index: 2600;

	@at-root body {
		padding-top: 2rem;
	}

	@at-root body.admin-bar {
		padding-top: 2rem;
		.masthead {
			top: 32px;
		}

		@include phone {
			padding-top: calc( 2rem );

			.masthead {
				top: 46px;
			}
			#wpadminbar {
				position: fixed;
			}
		}
	}
	@at-root body:not(.home) {
		.masthead {
			box-shadow: 0 0 .5em rgba(0,0,0,0.5);
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.row-container {
		display: grid;
		grid-template-columns: 1fr min-content min-content;
		grid-gap: 1em;
		align-items: center;
		height: 2em;
		padding: 0 0.5em;
		position: relative;
	}

	.logo {
		grid-column: 1;
		height: 1.15em;
		align-self: center;

		img {
			height: 100%;
		}
	}

	.all_shows {
		grid-column: 2;

		white-space: nowrap;
		font-size: .3em;
		text-transform: uppercase;

		a {
			display: block;
			background: #fff;
			color: $colors-purple;
			border-radius: 3px;
			padding: .25em .5em;

			opacity: .6;

			&:hover {
				opacity: 1;
			}

			&:before {
				content: '❯ ';
				font-weight: bold;
				opacity: 0.7;
			}
		}

		@include phone {
			display: none;
		}
	}


	@import 'hamburger';
	@import 'menu';
}