.solutions_for_advertisers .row-container {
	grid-template-columns: 1.6fr 1fr;

	h2 {
		font-size: 1.8em;
		text-align: right;

		@media (max-width: $breakwidth-medium) {
			text-align: center;
		}
		@media (max-width: $breakwidth-small) {
			font-size: 1.6em;
		}
	}
	h3 {
		font-size: 1rem;
		margin-bottom: 0.25em;
	}

	@media (max-width: $breakwidth-small) {
		grid-template-columns: none;
	}
}