.solutions_for_advertisers .row-container {
	grid-template-columns: 1.6fr 1fr;

	@include tablet {
		grid-template-columns: 1fr;
	}

	h2 {
		font-size: 1.8em;
		text-align: right;

		@include tablet {
			text-align: center;
		}
		@include phone {
			font-size: 1.6em;
		}
	}
	h3 {
		font-size: 1rem;
		margin-bottom: 0.25em;
	}

	@include phone {
		grid-template-columns: none;
	}
}