.cards {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

article.card {
	display: flex;
	flex-direction: column;
	flex: 0 1 23.5%;
	break-inside: avoid;

	background: #fff;
	border-radius: 2px;

	font-size: 0.4rem;

	position: relative;

	margin: 0 .5em 1em;

	box-shadow: 0 .25em 1em rgba(0,0,0,0.2);

	&:nth-child(4n+1){
	  order:1;
	}
	&:nth-child(4n+2){
	  order:2;
	}
	&:nth-child(4n+3){
	  order:3;
	}
	&:nth-child(4n){
	  order:4;
	}


	@media (max-width: $breakwidth-small) {
		flex-basis: calc( 50% - 1em );
	}

	a {
		display: block;
		color: inherit;
		text-decoration: inherit;
	}

	figure {
		margin: 0;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.headline {
		background: $colors-purple;
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		overflow: hidden;

		h2 {
			font-size: 2.5em;
			text-align: center;
			padding: .5em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}

	.content {
		padding: 1em;
		position: relative;
		z-index: 2;
	}

	.excerpt {
		p:last-child {
			margin-bottom: 0
		}
	}

	.listen {
		display: none;
		background: $colors-blue;
		color: #fff;
		box-shadow: 0 0 .5em rgba(0,0,0,0.4);

		font-size: 1em;
		font-weight: bold;
		text-shadow: 1px 1px $colors-purple;

		padding: .25em .5em;

		position: absolute;
		top: -1em;
		left: 50%;
		transform: translateX(-50%);
	}
		&:hover .listen {
			display: block;

			@media (hover: none) {
				display: none;
			}

		}

	.post-edit-link {
		color: #fff;
		font-size: 0.8em;
		position: absolute;
		right: 1em;
		bottom: -.75em;
	}

}