.cards {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

article.card {
	display: flex;
	flex-direction: column;
	flex: 0 1 23.5%;
	break-inside: avoid;

	background: #fff;
	border-radius: 3px;

	font-size: 0.4rem;

	position: relative;

	margin: 0 .5em 1em;

	box-shadow: 0 .25em 1em rgba(0,0,0,0.2);

	@media (max-width: $breakwidth-small) {
		flex-basis: calc( 50% - 1em );
	}

	a {
		display: block;
		color: inherit;
		text-decoration: inherit;
	}

	figure {
		border-radius: 3px 3px 0 0;
		overflow: hidden;
		margin: 0;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.headline {
		background: $colors-purple;
		border-radius: 3px 3px 0 0;
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		overflow: hidden;

		h2 {
			font-size: 2.5em;
			text-align: center;
			padding: .5em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}

	.content {
		padding: 1em;
		position: relative;
		z-index: 2;
	}

	.excerpt, .body {
		font-size: inherit;

		word-break: break-word;
		overflow-wrap: break-word;

		hyphens: auto;
		-webkit-hyphenate-limit-zone: 1.5em;
		   -moz-hyphenate-limit-zone: 1.5em;
		    -ms-hyphenate-limit-zone: 1.5em;
		        hyphenate-limit-zone: 1.5em;
		-webkit-hyphenate-limit-chars: 6;
		   -moz-hyphenate-limit-chars: 6;
		    -ms-hyphenate-limit-chars: 6;
		        hyphenate-limit-chars: 6;
		-webkit-hyphenate-limit-lines: 2;
		   -moz-hyphenate-limit-lines: 2;
		    -ms-hyphenate-limit-lines: 2;
		        hyphenate-limit-lines: 2;
		-webkit-hyphenate-character: "\002d";
		   -moz-hyphenate-character: "\002d";
		    -ms-hyphenate-character: "\002d";
		        hyphenate-character: "\002d";

		p:last-child {
			margin-bottom: 0
		}
	}

	.listen {
		display: none;
		background: $colors-blue;
		color: #fff;
		box-shadow: 0 1px 0 $colors-purple;

		font-size: 1em;
		font-weight: bold;
		text-shadow: 1px 1px $colors-purple;

		padding: .25em .5em;

		position: absolute;
		top: -1em;
		left: 50%;
		transform: translateX(-50%);
	}
		&:hover .listen {
			display: block;

			@media (hover: none) {
				display: none;
			}

		}

	.post-edit-link {
		color: #fff;
		font-size: 0.8em;
		position: absolute;
		right: 1em;
		bottom: -.75em;
		z-index: 20;
	}

}