.row {
	background: #f5f5f5;
	overflow: hidden;
}

.row-container {
	background: transparent;;

	margin: 0 auto;
	max-width: $maxwidth;
	padding: 1em 0;
	position: relative;

	@include tablet {
		padding: 1em;
	}

	h2 {
		display: block;
		font-size: 1.75em;

		@include tablet {
			font-size: 1.7em;
		}
		@include phone {
			font-size: 1.5em;
		}
	}

	h3 {
		line-height: 1.2;
		margin: 0 0 0.5em;
	}

	.row-body {
		margin: 0 auto;
		//max-width: 80%;
		text-align: center;
	}

	.row-headline-top & {
		display: block;

		h2 {
			margin: 0 0 0.5em;
			text-align: center;
		}
	}

	.row-headline-left &,
	.row-headline-right & {
		display: grid;
		grid-gap: .5em;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "left right";
		align-items: center;

		h2 {
			grid-area: left;
		}
		.row-body {
			grid-area: right;
		}
	}
		.row-headline-right & {
			h2 {
				grid-area: right;
				text-align: right;
			}
			.row-body {
				grid-area: left;
			}
		}

	@include tablet {
		.row-headline-top &,
		.row-headline-left &,
		.row-headline-right & {
			//display: block;
			grid-template-columns: none;
			grid-template-rows: auto auto;
			grid-template-areas: "top" "bottom";

			h2 {
				grid-area: top;
				text-align: center;
				width: 100%;
			}
			.row-body {
				grid-area: bottom;
			}
		}

	}

	.button {
		background: $colors-blue;
		border: 2px solid transparent;
		border-radius: .25em;
		color: #fff;
		display: inline-block;
		font-size: .5em;
		font-weight: 600;
		line-height: 1;
		margin: 0 .25em;
		padding: .75em 1em;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: transparent;
			border-color: $colors-blue;
			color: $colors-blue;
		}

		@include tablet {
			font-size: .6em;
			margin-bottom: 0.5em;
			
			&:last-child {
				margin-bottom: 0;
			}

		}
	}

	@at-root .row.basic + .row.basic .row-container {
		padding-top: 0.25em;
	}

	@import 'basic-blue';
	@import 'basic-purple';

}

@import 'home/_';
@import 'features';
