/**
 * Base for svgText
 */

.stext { color: transparent }
.st-converted {
	display: inline-block;
	line-height: 1;
	filter: drop-shadow( 0 0 .05em rgba(0,0,0,0.3) );
}
.stext.st-processing {
	color: transparent;
}
.st-comp {
	display: block;

	span {
		position: relative;
		vertical-align: top;
	}
	* {
		box-sizing: border-box;
	}
	svg {
		display: inline-block;
		height: 100%;
		max-width: 100%;
		position: relative;
		vertical-align: top;
		margin-left: -.33em;

		&:first-child {
			margin-left: 0;
		}
	}
}
.st-word {
	display: inline-block;
	height: 1.15em;
	width: auto;
	white-space: nowrap;
	overflow-wrap: break-word;

	margin-left: -.05em;
	&:first-child {
		margin-left: 0;
	}

	&[data-first_letter="A"] {
		margin-left: -.1em;
	}
	&[data-last_letter="A"] + .st-space + .st-word {
		margin-left: -.15em;
	}

	.st-original {
		color: transparent;
		position: absolute;
		font-size: 0.75em;
		left: 0;
		top: 0;
		z-index: 3765;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: .15em;

		.st_r & {
			text-indent: 0.33em;
		}
	}
}
.st-space {
	display: inline-block;
	width: 0;
	overflow: hidden;
}

@import 'kerning';

.st_face, .st_face path {
	fill: #fff;
}
.st_sides, .st_sides path {
	fill: inherit;
}

@import 'colors/blue';
@import 'colors/purple';