.st-space + .st-word[data-first_l="A"] {
	//margin-left: -0.25em;
}

svg[data-l="@"] + svg,
svg[data-l="I"] + svg,
svg                  + svg[data-l="I"] {
	margin-left: -.325em;
}

svg[data-l="Q"] + svg[data-l="A"],
svg[data-l="B"] + svg[data-l="G"],
svg[data-l="V"] + svg,
svg                  + svg[data-l="V"],
svg[data-l="R"] + svg[data-l="E"],
svg[data-l="W"] + svg[data-l="E"],
svg[data-l="K"] + svg[data-l="I"],
svg[data-l="C"] + svg[data-l="S"],
svg[data-l="G"] + svg[data-l="X"] {
	margin-left: -.35em;
}

svg[data-l="1"] + svg[data-l="0"],
svg[data-l="C"] + svg[data-l="A"],
svg[data-l="G"] + svg[data-l="A"],
svg[data-l="R"] + svg[data-l="A"],
svg[data-l="L"] + svg[data-l="G"],
svg[data-l="W"] + svg[data-l="I"],
svg[data-l="C"] + svg[data-l="J"],
svg[data-l="L"] + svg[data-l="J"],
svg[data-l="P"] + svg[data-l="J"],
svg[data-l="1"] + svg[data-l="O"],
svg[data-l="R"] + svg[data-l="O"],
svg[data-l="W"] + svg[data-l="P"],
svg[data-l="A"] + svg[data-l="S"],
svg[data-l="K"] + svg[data-l="S"],
svg[data-l="O"] + svg[data-l="S"],
svg[data-l="T"] + svg[data-l="S"],
svg[data-l="O"] + svg[data-l="T"],
svg[data-l="S"] + svg[data-l="T"],
svg[data-l="R"] + svg[data-l="U"],
svg[data-l="C"] + svg[data-l="Y"],
svg[data-l="G"] + svg[data-l="Y"],
svg[data-l]     + svg[data-l="W"] {
	margin-left: -.37em;
}
	svg[data-l="E"] + svg[data-l="W"],
	svg[data-l="F"] + svg[data-l="W"],
	svg[data-l="H"] + svg[data-l="W"],
	svg[data-l="J"] + svg[data-l="W"] {
		margin-left: -.35em;
	}

svg[data-l="B"] + svg[data-l="A"],
svg[data-l="J"] + svg[data-l="A"],
svg[data-l="S"] + svg[data-l="A"],
svg[data-l="D"] + svg[data-l="A"],
svg[data-l="C"] + svg[data-l="C"],
svg[data-l="V"] + svg[data-l="C"],
svg[data-l="W"] + svg[data-l="C"],
svg[data-l="X"] + svg[data-l="C"],
svg[data-l="C"] + svg[data-l="G"],
svg[data-l="V"] + svg[data-l="G"],
svg[data-l="W"] + svg[data-l="G"],
svg[data-l="A"] + svg[data-l="J"],
svg[data-l="C"] + svg[data-l="O"],
svg[data-l="L"] + svg[data-l="O"],
svg[data-l="T"] + svg[data-l="O"],
svg[data-l="X"] + svg[data-l="O"],
svg[data-l="'"] + svg[data-l="S"],
svg[data-l="’"] + svg[data-l="S"],
svg[data-l="R"] + svg[data-l="T"],
svg[data-l="D"] + svg[data-l="W"],
svg[data-l="D"] + svg[data-l="X"],
svg[data-l="O"] + svg[data-l="X"],
svg[data-l="S"] + svg[data-l="Y"] {
	margin-left: -.4em;
}

svg[data-l="O"] + svg[data-l="A"],
svg[data-l="X"] + svg[data-l="G"],
svg[data-l="Y"] + svg[data-l="G"],
svg[data-l="K"] + svg[data-l="J"],
svg[data-l="X"] + svg[data-l="J"],
svg[data-l="D"] + svg[data-l="V"],
svg[data-l="A"] + svg[data-l="O"],
svg[data-l="W"] + svg[data-l="O"],
svg[data-l="A"] + svg[data-l="Q"],
svg[data-l="O"] + svg[data-l="W"] {
	margin-left: -.42em;
}

svg[data-l="D"] + svg[data-l="A"],
svg[data-l="Y"] + svg[data-l="C"] {
	margin-left: -.43em;
}

svg[data-l="X"] + svg[data-l="-"],
svg[data-l="Y"] + svg[data-l="A"],
svg[data-l="A"] + svg[data-l="C"],
svg[data-l="A"] + svg[data-l="G"],
svg[data-l="K"] + svg[data-l="O"],
svg[data-l="V"] + svg[data-l="O"],
svg[data-l="Y"] + svg[data-l="O"],
svg[data-l="W"] + svg[data-l="S"],
svg[data-l="D"] + svg[data-l="Y"],
svg[data-l="O"] + svg[data-l="V"],
svg[data-l="R"] + svg[data-l="Y"]{
	margin-left: -.45em;
}

svg[data-l="F"] + svg[data-l="A"],
svg[data-l="V"] + svg[data-l="J"],
svg[data-l="W"] + svg[data-l="J"] {
	margin-left: -.47em;
}


svg[data-l="T"] + svg[data-l="."],
svg[data-l="T"] + svg[data-l=","],
svg[data-l="P"] + svg[data-l="."],
svg[data-l="P"] + svg[data-l=","],
svg[data-l="Y"] + svg[data-l="."],
svg[data-l="Y"] + svg[data-l=","],
svg[data-l="P"] + svg[data-l="A"],
svg[data-l="T"] + svg[data-l="A"],
svg[data-l="V"] + svg[data-l="A"],
svg[data-l="Y"] + svg[data-l="A"],
svg[data-l="T"] + svg[data-l="J"],
svg[data-l="Y"] + svg[data-l="J"],
svg[data-l="A"] + svg[data-l="T"],
svg[data-l="L"] + svg[data-l="T"],
svg[data-l="A"] + svg[data-l="W"],
svg[data-l="A"] + svg[data-l="Y"] {
	margin-left: -.5em;
}

svg[data-l="W"] + svg[data-l="A"],
svg[data-l="L"] + svg[data-l="V"],
svg[data-l="L"] + svg[data-l="Y"] {
	margin-left: -.54em;
}

svg[data-l="V"] + svg[data-l="A"],
svg[data-l="A"] + svg[data-l="V"] {
	margin-left: -.55em;
}
